.agenda-container {
  max-width: 400px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

mat-form-field {
  width: 100%;
}

.events {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
}

.events h3 {
  margin-bottom: 10px;
  color: #3f51b5;
}
.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
