<p>reservation works!</p>

<label>id_reservation</label>
<input type="number" #Input_id_reservation placeholder="Entrez id_reservation">

<label>id_ClasseProf</label>
<input type="number" #Input_id_ClasseProf placeholder="Entrez id_ClasseProf">

<label>horaire</label>
<input type="text" #Input_horaire placeholder="Entrez horaire">

<label>id_Salle</label>
<input type="number" #Input_id_Salle placeholder="Entrez id_Salle">

<button (click)="createReservation(
    +Input_id_reservation.value,
    +Input_id_ClasseProf.value,
    Input_horaire.value,
    +Input_id_Salle.value
)">Créer réservation</button>
